.container{
    width: 100%;
    display:"flex";
    align-content:"center";
    justify-content:"center";
}
.content{
    width: 100%;
}
.logo{
    margin-top:"150px";
}

.logo_img{
    border-radius:"50%";
    border:"2px solid #4D6447";
    /* border-color: #000;
    border-width: 2px */
    width: 8rem;
    height: 8rem;
    margin-left: 1em;
    margin-right: 1em;
    -webkit-transition:transform;
    transition: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    
}
.logo_img:hover{
    transform: scale(1.1);
}

.logo_img:active{
    transform: scale(0.9);
}
.logobox{
    width: 100%;
    margin-top: 10.5rem;
    margin-bottom: 2rem;
}
.SelectBox{
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 100%;
}
.text{
    justify-content: flex-end;
}
@font-face {
    font-family: SweiGothicCJKtc-Regular;
    src: url(https://cdn.jsdelivr.net/gh/max32002/swei-gothic@2.129/WebFont/CJK%20TC/SweiGothicCJKtc-Regular.woff2) format("woff2")
    , url(https://cdn.jsdelivr.net/gh/max32002/swei-gothic@2.129/WebFont/CJK%20TC/SweiGothicCJKtc-Regular.woff) format("woff");
}
/* nav bar */
.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: larger;
    font-weight: bold;
    padding-left: 0.5rem;
    padding-right:0.5rem ;
    padding-bottom: 0.5rem;
    padding-top:2rem;
    cursor: pointer;
    font-family: SweiGothicCJKtc-Regular;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}
.navBarUnderline {
    height: 2px;
    background-color: #000;
    transform-origin: left center;
  }
.navItem {
    font-size: larger;
    font-weight: bold;
    padding-left: 2rem;
    padding-right:2rem ;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    margin: auto;
    cursor: pointer;
    color: #96AB90;
    font-family: SweiGothicCJKtc-Regular;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.navItem:hover {
    color: #F9CBB7;
    opacity: 1;
    padding-left: 2rem;
    padding-right:2rem ;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    /* background-color: #f9cbb749; */
    border-radius: 5px;
    /* text-shadow: 0px 0px 2px #F9CBB7; */
}

.navItemActive {
    color: #F9CBB7;
    composes: navItem;
    opacity: 1;
    padding-left: 2rem;
    padding-right:2rem ;
    padding-bottom: 0.5rem;
    border-bottom: #F9CBB7 solid 0.2rem ;
}


@media (max-width: 768px) {
    /* .navItem {
        display: none;
    } */
    .nav{
        position: fixed;
        background: #4D6447 !important;
        border-bottom: 0.5px solid #fffcfb5a ;
        width: 100%;
        height: 100px;
    }
    .navBar {
        display: none;
    }  

    .navItem {
        padding-left: 1rem;
        padding-right:1rem ;
        text-align: center;
        opacity: 0.8;
        font-family: SweiGothicCJKtc-Regular;
    }
    .navItem:hover {
        /* color: #4D6447; */
        opacity: 1;
    }
    .navItemActive {
        composes: navItem;
        opacity: 1;
        padding-left: 1rem;
        padding-right:1rem ;
        padding-bottom: 0.8rem;
        border-bottom: #F9CBB7 solid 0.2rem ;
    }
}

.icon {
    display: inline-block;
    position: absolute !important;
    top: 2.2rem;
    right:9rem;
    cursor: pointer;
}


@media (min-width: 768px) {
    .icon {
        right: 5rem;
    }
}
@media (max-width:376px) {
    .navItem {
        padding-left: 0.3rem;
        padding-right:0.3rem ;
        text-align: center;
        opacity: 0.8;
        font-family: SweiGothicCJKtc-Regular;
        font-size: medium;
    }
    .navItem:hover {
        /* color: #4D6447; */
        opacity: 1;
        padding-left: 0.3rem;
        padding-right:0.3rem ;
        
    }
    .navItemActive {
        composes: navItem;
        opacity: 1;
        padding-left: 0.3rem;
        padding-right:0.3rem ;
        border-bottom: #F9CBB7 solid 0.2rem ;
    }  
}
  
