.container{
    width: 100%;
    display:"flex";
    align-content:"center";
    justify-content:"center";
}
.content{
    width: 100%;
}
.logo{
    margin-top:"150px";
}

.logo_img{
    border-radius:"50%";
    border:"2px solid #4D6447";
    /* border-color: #000;
    border-width: 2px */
    width: 8rem;
    height: 8rem;
    margin-left: 1em;
    margin-right: 1em;
    -webkit-transition:transform;
    transition: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    
}
.logo_img:hover{
    transform: scale(1.1);
}

.logo_img:active{
    transform: scale(0.9);
}
.logobox{
    width: 100%;
    margin-top: 10.5rem;
    margin-bottom: 2rem;
}
.SelectBox{
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 100%;
}
.text{
    justify-content: flex-end;
}
@font-face {
    font-family: SweiGothicCJKtc-Regular;
    src: url(https://cdn.jsdelivr.net/gh/max32002/swei-gothic@2.129/WebFont/CJK%20TC/SweiGothicCJKtc-Regular.woff2) format("woff2")
    , url(https://cdn.jsdelivr.net/gh/max32002/swei-gothic@2.129/WebFont/CJK%20TC/SweiGothicCJKtc-Regular.woff) format("woff");
}
/* nav bar */
.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.navItem {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 5rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right:1rem ;
    cursor: pointer;
    color: #96AB90;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.navItem:hover {
    color: #F9CBB7;
    opacity: 1;
    font-size: 18px;
    /* text-shadow: 0px 0px 2px #F9CBB7; */
}

.navItemActive {
    composes: navItem;
    opacity: 1;
    padding-left: 2rem;
    padding-right:2rem ;
    padding-bottom: 0.8rem;
    border-bottom: #F9CBB7 solid 0.2rem ;
}


@media (max-width: 768px) {
    /* .navItem {
        display: none;
    } */
    .nav{
        position: fixed;
        background: #4D6447 !important;
        border-bottom: 0.5px solid #fffcfb5a ;
        width: 100%;
        height: 100px;
    }
    .navBar {
        display: none;
    }  

    .navItem {
        color: #96AB90!important;
        /* font-size: 1rem;
        margin-bottom: 0;
        margin-left: 0; */
        text-align: center;
        opacity: 0.7;
        font-family: SweiGothicCJKtc-Regular;
    }
    .navItem:hover {
        /* color: #4D6447; */
        opacity: 1;
    }
}

.icon {
    display: inline-block;
    position: absolute !important;
    top: 2.2rem;
    right:9rem;
    cursor: pointer;
}


@media (min-width: 768px) {
    .icon {
        right: 5rem;
    }
}
  
