.hamMenu {
  display: inline-block;
  position: absolute;
  z-index: 9;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 5rem;
  opacity: 0.7;
  right: 2rem;
  top: 0.6rem;
  transition: all 0.25s linear;
}


.hamMenu:hover {
  opacity: 1;
  cursor: pointer;
}

.baseMenuBar {
  display: inline-block;
  position: relative;
  background-color: #F9CBB7;
  width: 24px;
  height: 3px;
}

.hamMenuBar1 {
  composes: baseMenuBar;
  top: 16px;
  transition: all 0.25s linear;
  /* transform: rotate(-4deg); */
}

.hamMenuBar2 {
  composes: baseMenuBar;
  transition: all 0.25s linear;
  /* transform: rotate(2deg); */
}

.hamMenuBar3 {
  composes: baseMenuBar;
  bottom: 16px;
  transition: all 0.25s linear;
  /* transform: rotate(-2deg); */
}

.hamMenuBar1_Touch {
  composes: hamMenuBar1;
  width: 30px;
  top: 16px;
  opacity: 0;
}

.hamMenuBar2_Touch {
  composes: hamMenuBar2;
  width: 30px;
  opacity: 1;
  transform: rotate(45deg);
}

.hamMenuBar3_Touch {
  composes: hamMenuBar3;
  width: 30px;
  bottom: 25px;
  opacity: 1;
  transform: rotate(-2deg);
  transform: rotate(-45deg);
}

@media (min-width: 769px) { /*(tablets, 768px and up)*/
  .showMobile {
    display: none;
  }
}

