@font-face {
  font-family: SweiGothicCJKtc-Regular;
  src: url(https://cdn.jsdelivr.net/gh/max32002/swei-gothic@2.129/WebFont/CJK%20TC/SweiGothicCJKtc-Regular.woff2) format("woff2"), url(https://cdn.jsdelivr.net/gh/max32002/swei-gothic@2.129/WebFont/CJK%20TC/SweiGothicCJKtc-Regular.woff) format("woff");
}

.userInfo {
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem ;
}

.userInfoText {
  font-size: 0.5rem;
  opacity: 0.6;
  margin-top: 0.2rem;
  color: #96AB90;
  font-family: SweiGothicCJKtc-Regular;
  /* font-weight: bold; */
  font-size: 1rem;
}

.userInfoOutlined {
  font-size: 1rem;
  padding-left: 0.4rem;
}

@media (min-width: 768px) {
  .userInfoText {
    font-size: 0.7rem;
    margin-top: 0.3rem;
  }

  .userInfoOutlined {
    font-size: 1.5rem;
    padding-left: 0.2rem;
  }
}
