.content {
    width: 100%;
}

.imgDispalyInDesktop {
    width: 100%;
    background: url("/public/images/偶素甜點-home\ page-1600.png");
    margin-top: 60px;
}

.imgDispalyInMobile {
    width: 100%;
    margin-top: 60px;
}

.div {
    width: 300px;
    height: 300px;
    background: #000;
    margin: auto;
    padding: auto;
    margin-top: 100px;
}

.box {
    color: #fff;
    line-height: 300px;
}

.text {
    display: flex;
    align-content: center;
    justify-content: center;
    color: #4D6447;
    margin-top: 50px;
    font-weight: bold;
    letter-spacing: 7px;
}

.contentStyle {
    height: 160px;
    color: #fff;
    line-height: 160px;
    text-align: center;
    background: #364d79;
}

.Carousel {
    width: 100%;
    height: auto;
}

.news {
    width: 30%;

    /* margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 3rem; */
}

.newsbox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}



@media (min-width: 769px) {
    .imgDispalyInMobile {
        display: none;
    }


}

@media (min-width: 768px) {

}

@media (max-width: 768px) {
    .imgDispalyInDesktop {
        display: none;
    }

    .imgDispalyInMobile {
        height: 63%;
        /*要修圖片*/
        width: 100%;
    }
    /* .carousel {
        display: none!important;
    } */
    .news {
        width: 70%;
    }

}

@media (max-width: 576px) {
    .imgDispalyInDesktop {
        display: none;
    }
    .news {
        width: 85%;
    
    }

}