


.content {
    width: 100%;
  }
  
  .imgDispalyInDesktop {
    width: 100%;
    /* background: url("/public/images/偶素甜點-home\ page-1600.png"); */
    /* margin-top:1.8rem; */
    border-top: 30px solid #4D6447;
  }
  
  .imgDispalyInMobile {
    width: 100%;
  }
  
  .RowCol{
    margin: 0;
    align-content:center;
    width: 100%;
  }
  
  .div {
    width: 300px;
    height: 300px;
    /* background: #000; */
    margin: auto;
    padding: auto;
    margin-top: 100px;
  }
  
  .box {
    color: #fff;
    line-height: 300px;
  }
  
  .title {
    display: flex;
    align-content: center;
    justify-content: center;
    /* color: #4D6447; */
    margin-top: 50px;
    font-weight: bold;
    letter-spacing: 7px;
    /* margin-bottom: 3rem; */
    /* z-index: 10000; */
  }
  
  .text{
    /* color: #000; */
    font-weight: bold;
    margin: 0;
    
  }
  .antext{
    position: absolute;
    font-weight: bold;
    margin: 0;
    font-family: SweiGothicCJKtc-Regular;
    left: -140px;
    top: -680px;
    /* background: #4D6447; */
    color: #FFFCFB;
    padding: 30px;
    font-size: 2rem;
    letter-spacing:0.2rem;
    word-spacing:1rem;
  }
  .estd{
    position: absolute;
    font-weight: bold;
    margin: 0;
    font-family: SweiGothicCJKtc-Regular;
    left:1219px;
    top: -680px;
    /* background: #4D6447; */
    color: #FFFCFB;
    padding: 30px;
    font-size: 2rem;
    letter-spacing:0.2rem;
    word-spacing:1rem;
  }
  
  
  .btn{
    background-color: #F9CBB7;
    color: #4D6447;
    font-weight: bold;
  }
  
  .btnstyle {
    border: none !important;
    height: 30px !important;
    width: 30px !important;
    transition: 1s !important;
    border-radius: 50% !important;
    background-color: #F9CBB7 !important;
    color: #FFFCFB !important;
    position: absolute !important;
    top: 50% !important;
    /* right: -30px!important; */
    left:-50px!important ;
    z-index: 10 !important;
    transform: translateY(-50%) !important;
    opacity: 0.6 !important;
    margin: 1rem;
  }
  
  .nsbtnstyle {
    border: none !important;
    height: 30px !important;
    width: 30px !important;
    transition: 1s !important;
    border-radius: 50% !important;
    background-color: #F9CBB7 !important;
    color: #FFFCFB !important;
    position: absolute !important;
    top: 50% !important;
    right: -40px!important;
    /* left:-30px!important ; */
    z-index: 10 !important;
    transform: translateY(-50%) !important;
    opacity: 0.6 !important;
    margin: 1rem;
  }
  
  .boxstyle{
    display: flex;
    flex-direction: column;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  
  .NewsTextBox{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    justify-content: space-between;
    align-items: center;
  }
  .ClNewsTextBox{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    justify-content: space-around;
    align-items: center;
  }
  
  /* .btn:active {
    background-color: #F9CBB7;
    color: #4D6447;
    font-weight: bold;
    border-color: #4D6447;
  } */
  
  .contentStyle {
    height: 160px;
    /* color: #fff; */
    line-height: 160px;
    text-align: center;
    /* background: #364d79; */
  }
  
  .Carousel {
    width: 100%;
    height: auto;
  }
  
  .news {
    width: 70%;
    /* display: none !important; */
    /* margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 3rem; */
  }
  
  .ns {
    width: 100%;
    
  }
  
  .newsbox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .cl {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 2.5rem;
  
  }
  @media (max-width: 2560px) { 
    .antext{
  
        left: -170px;
        top: -750px;
        font-size:2.4rem;
    
  
    }
    .estd{
  
        left:1200px;
        top: -750px;
        font-size: 2.4rem;
  
    }
  
  }
  @media (max-width: 1800px) { 
    .antext{
  
        left: 60px;
        top: -540px;
        font-size: 1.6rem;
    
  
    }
    .estd{
  
        left:1080px;
        top: -540px;
        font-size: 1.6rem;
  
    }
  
  }
  @media (max-width: 1440px) { 
    .antext{
  
        left: 4px;
        top: -450px;
    
  
    }
    .estd{
  
        left:880px;
        top: -450px;
  
    }
  
  }
  @media (max-width: 1280px) { 
    .antext{
  
        left: 4px;
        top: -430px;
        font-size: 1.3rem;
    
  
    }
    .estd{
  
        left:810px;
        top: -430px;
        font-size: 1.3rem;
  
    }
  
  }
  @media (max-width: 1200px) { 
    .antext{
  
        left: 20px;
        top: -430px;
        font-size: 1.2rem;
    
  
    }
    .estd{
  
        left:810px;
        top: -430px;
        font-size: 1.2rem;
  
    }
  
  }
  @media (max-width: 1100px) { 
    .antext{
  
        left: 4px;
        top: -410px;
        font-size: 1rem;
    
  
    }
    .estd{
  
        left:680px;
        top: -410px;
        font-size: 1rem;
  
    }
  
  }
  @media (max-width: 1024px) { /*>786px*/
  
    .antext{
  
        left: 50px;
        top: -360px;
        font-size: 0.8rem;
  
    }
    .estd{
  
        left:700px;
        top: -360px;
        font-size: 0.8rem;
  
    }
  
  }
  @media (max-width: 960px) { /*>786px*/
  
    .antext{
  
        left: -45px;
        top: -360px;
        font-size: 0.8rem;
  
    }
    .estd{
  
        left:500px;
        top: -360px;
        font-size: 0.8rem;
  
    }
  
  }
  
  @media (min-width: 769px) { /*>786px*/
    .imgDispalyInMobile {
        display: none;
    }
    .cl{
        display: none ;
    }
  
  }
  
  
  @media (max-width: 768px) { /*<786px*/
    /* .news {
        display: none ;
    } */
    .imgDispalyInDesktop {
        display: none;
    }
  
    .imgDispalyInMobile {
        /* height: 63%; */
        /*這個我先暫時註解*/
        /*要修圖片*/
        width: 100%;
    }
  
    /* .carousel {
        display: none!important;
    } */
    .news {
        width: 90%;
        object-position: center;
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 1rem;
    }
  
    .newsbox {
        display: none;
    }
  
    .cl {
        display: flex;
        align-content: center !important;
        justify-content: center !important;
        width: 100%;
        margin-right: 0 !important;
        margin-left: 0 !important;
        padding-bottom: 2.5rem;
    }
  
  }
  
  @media (max-width: 576px) {
    .imgDispalyInDesktop {
        display: none;
    }
  
    /* .news {
        width: 85%;
  
    } */
  
  }