.imgDispalyInDesktop{
    width: 100%;
    background: url("/public/images/偶素甜點-home\ page-1600.png");
    margin-top: 60px;
}
.imgDispalyInMobile{
    width: 100%;
    margin-top: 40px;
}
.text{
    display: flex; 
    align-content: center;
    justify-content: center;
    color: #4D6447;
    margin-top: 50px;
    font-weight:bold;
    letter-spacing: 7px;
}

.contentStyle{
    height: 160px;
    color: #fff;
    line-height: 160px;
    text-align: center;
    background: #364d79;
}


@media (min-width: 769px) {
    .imgDispalyInMobile{
        display: none;
    }
    
}

@media (max-width: 768px) {
    .imgDispalyInDesktop{
        display: none;
    }
    .imgDispalyInMobile{
        height: 63%;/*要修圖片*/
        width: 100%;
    }
    
}
  @media (max-width: 576px) {
    .imgDispalyInDesktop{
        display: none;
    }
}