.btn{
   border: none !important;
   background-color: #4D6447!important;
   color: #FFFCFB !important;
   height: auto !important;
   font-Size: 1.2rem !important;
   padding: 0.5rem 2rem !important;
   width: 48%!important;
   font-family: SweiGothicCJKtc-Regular;
   text-align: center!important;
   letter-spacing:0.1rem;
   opacity:0.8!important;
   
}
.btn:hover{
   opacity: 1!important
}