@font-face {
   font-family: SweiGothicCJKtc-Regular;
   src: url(https://cdn.jsdelivr.net/gh/max32002/swei-gothic@2.129/WebFont/CJK%20TC/SweiGothicCJKtc-Regular.woff2) format("woff2"), url(https://cdn.jsdelivr.net/gh/max32002/swei-gothic@2.129/WebFont/CJK%20TC/SweiGothicCJKtc-Regular.woff) format("woff");
}

.image {
   width: 90%;
   /* height: 90%; */
   /* width: 684px;
   height: 491px; */
   object-fit: cover;
   object-position: center;
   /* border-radius: 2%; */
   /* margin: auto; */

}

.image2 {
   width: 80%;
   /* height: 90%; */
   /* width: 684px;
   height: 491px; */
   object-fit: cover;
   object-position: center;
   /* border-radius: 2%; */
   /* margin: auto; */
   margin-left: 60px;

}

.info {
   padding: 0 1.2rem;
   /* color: #323721; */
}

.category {
   font-size: 0.5rem;
   margin-bottom: 0.2rem;
   font-family: SweiGothicCJKtc-Regular;
   /* color: #323721; */

}

.name {
   margin-bottom: 0.5rem;
   font-size: 1.5rem;
   font-weight: bold;
   font-family: SweiGothicCJKtc-Regular;
   /* color: #323721; */
   border-bottom: #F9CBB7 solid 1px;
   padding-bottom: 0.5rem;
   width: 100%;
}

.description {
   font-family: SweiGothicCJKtc-Regular;
   font-size: 1rem;
   margin-bottom: 1rem;
   /* text-indent: 2rem; */
   text-align: justify;
   /* color: #323721; */
}

.wrap {
   display: flex;
   flex-direction: column;
}

.text {
   font-size: 0.5rem;
   margin-bottom: 0;
   /* color: #323721; */
}

.price {
   font-size: 1.2rem;
   font-weight: bold;
   font-family: SweiGothicCJKtc-Regular;
   /* color: #323721; */
   margin-bottom: 0.5rem;
}

.selectStyle {
   width: 100%;
}

.select {

   margin-bottom: 0.7rem;
}

.qty {
   font-size: 0.5rem;
   font-weight: bold;
   margin-bottom: 1.8rem;
}

.share {
   position: absolute;
   width: 30px;
   height: 30px;
   margin-right: 30px;
   right: 0;
   top: 0;
}

.imd {
   position: absolute;
   width: 172px;
   height: 147px;
   margin-right: 30px;
   right: 0;
   bottom: 60px;
   opacity: 0.2;
}

.title {
   margin-bottom: 0.5rem;
   font-size: 1.5rem;
   font-weight: bold;
   font-family: SweiGothicCJKtc-Regular;
   /* color: #323721; */
   width: 100%;
   text-align: center;
   margin-top: 3rem;
   margin-bottom: 2.5rem;
}

.description_name {
   margin-bottom: 1rem;
   font-size: 1.5rem;
   font-family: SweiGothicCJKtc-Regular;
   /* color: #323721; */
   border-left: #F9CBB7 solid;
   border-left-width: 10px;
   padding-left: 1rem;
   width: 100%;
   margin-top: 4rem;

}

.notice {
   font-family: SweiGothicCJKtc-Regular;
   font-size: 1rem;
   margin-bottom: 4rem;
   /* text-indent: 2rem; */
   line-height: 2;
   text-align: justify;
   /* color: #323721; */
}


.box {
   width: 100%;
   margin-left: 0;
   display: flex;
   flex-direction: row;
   /* align-items: center; */
   justify-content: center;
}

.btn {
   border: none !important;
   background-color: #F9CBB7 !important;
   color: #4D6447 !important;
   height: auto !important;
   font-Size: 1.2rem !important;
   padding: 0.5rem 2rem !important;
   width: 48% !important;
   font-family: SweiGothicCJKtc-Regular;
   text-align: center !important;
   letter-spacing: 0.1rem;
   opacity: 0.8 !important;

}

.btn:hover {
   opacity: 1 !important
}

.btnstyle {
   border: none !important;
   height: 30px !important;
   width: 30px !important;
   transition: 1s !important;
   border-radius: 50% !important;
   background-color: #4D6447 !important;
   color: #FFFCFB !important;
   position: absolute !important;
   top: 50% !important;
   z-index: 10 !important;
   transform: translateY(-50%) !important;
   opacity: 0.6 !important;
   margin: 1rem;
}

btnstyle:hover {
   opacity: 1 !important
}

@media (max-width: 990px) {

   .box {
      flex-direction: column-reverse;
      margin-left: 0;
   }

   .description_name {
      margin-top: 2rem;

   }

   .imd {
      display: none;
   }

   .image2 {

      margin-left: 0;

   }


}

@media (min-width:989px) {

   .box {
      align-items: center;
   }

}

@media (max-width: 768px) {

   .box {
      flex-direction: column-reverse;
      margin-left: 0;
   }

   .description_name {
      margin-top: 2rem;

   }

   .imd {
      display: none;
   }

   .image2 {

      margin-left: 0;

   }


}

@media (max-width: 575px) {

   .box {
      flex-direction: column-reverse;
      margin-left: 0;
   }

   .description_name {
      margin-top: 2rem;

   }

   .imd {
      display: none;
   }

   .image {
      width: 90%;
      /* height: 90%; */
      /* width: 684px;
      height: 491px; */
      object-fit: cover;
      object-position: center;
      /* border-radius: 2%; */
      margin: auto;

   }

   .btnstyle {
      margin: 0.1rem;
   }

}