@font-face {
   font-family: SweiGothicCJKtc-Regular;
   src: url(https://cdn.jsdelivr.net/gh/max32002/swei-gothic@2.129/WebFont/CJK%20TC/SweiGothicCJKtc-Regular.woff2) format("woff2")
   , url(https://cdn.jsdelivr.net/gh/max32002/swei-gothic@2.129/WebFont/CJK%20TC/SweiGothicCJKtc-Regular.woff) format("woff");
 }
.item {
   /* background-color: #FFFCFB; */
   border-radius: 1%;
   padding: 0;
   display: flex; 
   align-content: center;
   justify-content: center;
   flex-direction:row;
   width: 90%;
}

.col{
   align-content:center;
   justify-content: center;
}

.Row{
   display: flex;
   align-content:center;
   justify-content: center;
}

.img{
   position: relative;
   width: 50%;
   height: auto;
   display: block;
   /* background-color: aqua; */
   /* margin-right: 2.5rem; */
   margin-left: 1rem;
   margin-top: 2.5rem;
   margin-bottom: 2.5rem;
}

.img_width{
   width: 100%;
}

.img:hover .overlay {
   height: 100%;
   
 }

.overlay {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: #4D644750;
   overflow: hidden;
   width: 100%;
   height: 0;
   transition: .5s ease;
   border-radius: 12px;
   margin-right: 2.5rem;
 }

 .text {
   white-space: nowrap; 
   color: #FFFCFB;
   font-size: 20px;
   position: absolute;
   overflow: hidden;
   bottom: 5%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   font-family: SweiGothicCJKtc-Regular;
 }

.info {
   width: 50%;
   padding: 1.2rem;
   margin-right: 1rem;
   display: flex; 
   align-content: center;
   justify-content: center;
   flex-direction:column;
}

.category {
   display: flex;
   flex-direction:left;
   /* color: #323721; */
   opacity: 1; /*透明度*/
   margin-bottom: 0.2rem;
   font-family: SweiGothicCJKtc-Regular;
}

.name {
   display: flex;
   flex-direction:left;
   /* color: #323721; */
   margin-bottom: 0.5rem;
   font-weight:bold;
   font-family: SweiGothicCJKtc-Regular;
}

.description {
   display: flex;
   text-align:left;
   /* color: #323721; */
   opacity: 1;
   margin-bottom: 1rem;
   font-family: SweiGothicCJKtc-Regular;
}

.textGray {
   display: flex;
   flex-direction:left;
   /* color: #323721; */
   opacity: 1;
}

/*media*/

@media (max-width: 992px) {
   .info {
      padding: 0.1rem;
      margin-right: 1rem;
   }
   .category {
      margin-bottom: 0.1rem;
      font-size: 13.5px;
   }
   
   .name {
      margin-bottom: 0.2rem;
      font-size: large;
   }
   
   .description {
      margin-bottom: 0.5rem;
      font-size: xx-small;
   }
   
   .textGray {
      font-size: smaller;
   }
   .img{
      margin-right: 1.5rem;
   }
   .text {
      font-size: 17px;
      
   }
}

@media (max-width: 768px) { /*<768px*/
   .info {
      padding: 0.5rem;
      margin-right: 0.5rem;
   }
   .category {
      margin-bottom: 0.1rem;
      font-size: 13.5px;
   }
   
   .name {
      margin-bottom: 0.2rem;
      font-size: large;
   }
   
   .description {
      margin-bottom: 0.5rem;
      font-size: xx-small;
   }
   
   .textGray {
      font-size: smaller;
   }
   .text {
      font-size: 15px;
   }
   
}

@media (max-width: 576px) {
   .info {
      display: flex; 
      align-content: center;
      justify-content: center;
      flex-direction: left;
      margin-top: 0.5rem;
      padding: 0;
      width: 75%;
   }
   .item {
      border-radius: 1%;
      padding: 0;
      display: flex; 
      align-items: center;
      justify-content: center;
      flex-direction:column-reverse;
      width: 100%;
      margin-bottom: 2rem;
      
   }
   .img{
      position: relative;
      width: 75%;
      height: auto;
      display: block;
      margin: 0;
   }
   .category {
      margin-bottom: 0.1rem;
      font-size: 13.5px;
      margin-top: 0.7rem;
   }
   
   .name {
      margin-bottom: 0.2rem;
      font-size: large;
   }
   
   .description {
      margin-bottom: 0.5rem;
      font-size: xx-small;
   }
   
   .textGray {
      font-size: smaller;
   }
   .text {
      font-size: 15px;
   }
}
@media (max-width: 376px) {
   .item {
      border-radius: 1%;
      padding: 0;
      display: flex; 
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-bottom: 2rem;
   }
   .info {
      display: flex; 
      width: 75%;
      flex-direction: left;
      margin-top: 0.5rem;
      padding: 0;
      
   }
   
   .img{
      position: relative;
      width: 75%;
      display: block;
      margin: 0;
   }
   .category {
      margin-bottom: 0.1rem;
      font-size: 13.5px;
      margin-top: 0.7rem;
   }
   
   .name {
      margin-bottom: 0.2rem;
      font-size: large;
   }
   
   .description {
      margin-bottom: 0.5rem;
      font-size: xx-small;
   }
   
   .textGray {
      font-size: smaller;
   }
   .text {
      font-size: 15px;
   }
}


