.header {
  text-align: center;
}


.headerTitle {
  color: rgb(110, 110, 110);
  font-size: 1.3rem;
  padding: 0;
  padding-top: 1rem;
}

@media (min-width: 768px) {
  .headerTitle {
    font-size: 1.8rem;
  }
}

.headerSlogan {
  color: rgb(96, 88, 88);
  opacity: 0.6;
  padding: 0;
  margin: 0;
  line-height: 0.8;
}

.hrHeaderLine {
  margin: 25px auto 30px;
  padding: 0;
  width: 100px;
  border: 0;
  border-top: solid 6px;
  border-color: #6366f2;
  opacity: 1;
}
