.header {
  width: 100%;
  background-color: #4D6447 !important;
  border-bottom: 0.5px solid #fffcfb5a ;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  position: fixed; 
  margin-bottom: 10px;
  z-index:200;  
/* 固定在最上方 */
}

.bar{
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nav{
  display: flex; 
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.nav ul {           /* 導覽列整體設定*/
  margin: 0;             /* 取消外距，設定為0*/
  text-align: center;    /* 文字置中*/
  opacity: 1;
}
.nav ul li {        /* 按鈕個別設定*/
  list-style-type: none; /* 取消前面的小黑點*/
  display: inline;       /* 成一行排列*/
  margin: 0 15px;
  font-size:1.2rem;       /* 字體大小15px*/
  
}
.nav ul li a {      /* 超連結設定*/
  color:#FFFCFB;         /* 文字顏色設定*/
  text-decoration: none; /* 文字無底線*/
  opacity: 1;
}
.nav ul li a:hover {/* 超連結滑鼠滑過設定*/
  color: #F9CBB7;        /* 文字顏色設定*/
}


.logo{
  width: 50px;
  height: 65px;
  /* margin: 0px 45px 10px 40px;上边 | 右边 | 下边 | 左边 */
  position: absolute;
  top: 20px;
  left: 30px;
  z-index: 8;
}
.icon {
  display: inline-block;
  position: absolute !important;
  top: 2.2rem;
  right:9rem;
  cursor: pointer;
}


@media (min-width: 768px) {
  .icon {
     right: 5rem;
  }
}

@media (max-width: 768px) {
  .icon {
     display: none;
  }
}


@media (min-width: 768px) {
  .nav ul li {        
    font-size:1rem; 
  }
  /* .logo{
    background-image: url("/public//images/偶素甜點-home\ page-768.png");
    width: 40px;
    height: 55px;
  } */
}
@media (max-width: 576px) {
  .nav ul li {       
    font-size:0.3rem; 
  }
  /* .logo{
    background-image: url("/public//images/偶素甜點-home\ page-768.png");
    width: 30px;
    height: 45px;
  } */

}