@font-face {
  font-family: SweiGothicCJKtc-Regular;
  src: url(https://cdn.jsdelivr.net/gh/max32002/swei-gothic@2.129/WebFont/CJK%20TC/SweiGothicCJKtc-Regular.woff2) format("woff2")
  , url(https://cdn.jsdelivr.net/gh/max32002/swei-gothic@2.129/WebFont/CJK%20TC/SweiGothicCJKtc-Regular.woff) format("woff");
}
 /* nav bar */
 .navBar {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin-top: 3rem;
   /* margin-bottom: 2rem; */
   background: #4D6447 !important;
 }
 
 .navItem {
  font-size: 1rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right:1rem ;
  cursor: pointer;
  color: #FFFCFB;
  opacity: 1;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.navItem:hover {
  color: #F9CBB7;
  opacity: 1;
  /* text-shadow: 0px 0px 2px #F9CBB7; */
}
 
 .navItemActive {
  composes: navItem;
  opacity: 1;
 }
 
 .drawer {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* color: #F9CBB7; */
  /* font-family: SweiGothicCJKtc-Regular; */
}
@media (max-width: 768px) {
  /* .navItem {
    display: none;
  } */
  .nav{
    position: fixed;
    background: #4D6447 !important;
    border-bottom: 0.5px solid #fffcfb5a ;
    width: 100%;
    height: 100px;
  }
  .navBar {
    display: none;
  }
  .drawer {
    display: flex;
  }


  .navItem {
    color: #96AB90;
    /* font-size: 1rem;
    margin-bottom: 0;
    margin-left: 0; */
    text-align: center;
    opacity: 0.7;
    font-family: SweiGothicCJKtc-Regular;
  }
  .navItem:hover {
    /* color: #4D6447; */
    opacity: 1;
  }
}

.icon {
  display: inline-block;
  position: absolute !important;
  top: 2.2rem;
  right:9rem;
  cursor: pointer;
}


@media (min-width: 768px) {
  .icon {
     right: 5rem;
  }
}
