.cartSummary {
  display: inline-block;
  position: absolute;
  top: 2.2rem;
  right: 6rem;
  cursor: pointer;
}

.cartText {
  font-size: 0.8rem;
  opacity: 0.6;
  margin-top: -4px;
}

@media (min-width: 769px) {
  .cartSummary {
     right: 1.5rem;
  }
}