@font-face {
  font-family: SweiGothicCJKtc-Regular;
  src: url(https://cdn.jsdelivr.net/gh/max32002/swei-gothic@2.129/WebFont/CJK%20TC/SweiGothicCJKtc-Regular.woff2) format("woff2")
  , url(https://cdn.jsdelivr.net/gh/max32002/swei-gothic@2.129/WebFont/CJK%20TC/SweiGothicCJKtc-Regular.woff) format("woff");
}
.maincontainer {
  width: 100%;
  display: flex;
  align-self: center;
  margin: auto;
  font-family: SweiGothicCJKtc-Regular;
}
/* General Styles */
/* RWD Container */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: SweiGothicCJKtc-Regular;
}
@media (min-width: 320px) {
  .container {
    width: 275px;
  }
}
@media (min-width: 375px) {
  .container {
    width: 330px;
  }
}
@media (min-width: 425px) {
  .container {
    width: 380px;
  }
} 

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
} 

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
} 

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
} 

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
} 


@media (min-width: 1600px) {
  .container {
    width: 1500px;
  }
}

/* body */
body {
  font-size: 16px;
  line-height: 1.6;
  /* background-color: #FFFCFB; */
  
}


/* Layout */
.mainLayout {
  display: grid;
  min-height: 100vh;
  grid-template-areas: 
    'header'
    'content'
    'footer'
  ;
  grid-template-rows: auto 1fr auto;
  width: 100%;
}

.layoutHeader {
  grid-area: header;
  padding: 0;
  height: auto;
  line-height: 1.6;
  background-color: #4D6447;
}

.layoutFooter {
  grid-area: footer;
  padding: 0;
  height: auto;
  line-height: 1.6;
  background-color: #4D6447;
  width: 100%;
  margin: 0;
}

.layoutContent {
  grid-area: content;
}





